{erl_opts, [debug_info]}.

{deps, [
    {hb, {git, "https://github.com/permaweb/hyperbeam.git", {branch, "edge"}}}
]}.

{plugins, [
    {plugin, {git_subdir, "https://github.com/permaweb/hyperbeam.git", {branch, "edge"}, "src/forge"}},
    {rebar3_eunit_start,
        {git, "https://github.com/permaweb/rebar3_eunit_start.git",
            {ref, "04ec53fea187039770db0d4459b7aeb01a9021af"}}}
]}.

{eunit_opts, [verbose, {start_applications, [prometheus, hb]}]}.

{shell, [
    {apps, [hb]}
]}.

{alias, [
    {'eunit-all',
        [
            {device, "test --with-core"}
        ]
    }
]}.

{provider_hooks, [
    {pre, [
        {eunit, {default, rebar3_eunit_start}}
    ]}
]}.
